.git
.idea
.vscode

.env
.env.*
!.env.example

node_modules
Api/node_modules
Web/node_modules

dist
Api/dist
Web/dist
coverage
build

Web/.angular

logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

.temp
.tmp
tmp
